<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<bean id="carregarProdutos" class="br.com.becb.middlewarerecarga.quartz.ExecutorTarefa"/>

	<bean id="carregarProdutosBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="carregarProdutos"/>
		<property name="targetMethod" value="ajustarProdutos"/>
	</bean>
	<bean id="manterConexaoBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="carregarProdutos"/>
		<property name="targetMethod" value="manterConexao"/>
	</bean>
	
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="carregarProdutosBean" />
		<property name="cronExpression" value="0 20 05 * * ?" />
	</bean>
	
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="manterConexaoBean" />
		<property name="startDelay" value="10000" />
		<property name="repeatInterval" value="1800000" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger"/>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>

</beans>